.main{
    border-top: 1px solid var(--grey-hr);
    height: 10rem;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.desc{
    font-size: 1.5rem;
    color: var(--text-white);
}

.desc span{
    font-weight: bolder;
}