*,
*::after, 
*::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

ul, li{
   list-style: none; 
}

a{
    text-decoration: none;
    color: var(--black);
}

body{
    background-color: var(--dark-main);
}

/* ---------------------------- VARIABLES ---------------------------- */

:root{
    --dark-main: #292a2d;
    --dark-nav: #202124;
    --dark-articles: #1f1f1f;
    --dark-others: #303030;
    --text-grey-logo: #efeff0;
    --text-white: #f2f2f2;
    --text-grey: #cdcdcd; 
    --grey-search: #3c4043;
    --grey-hr: #505050;
}