.main{
    color: var(--text-grey);
    padding: 5rem 0;
}

.article{
    width: 100%;
    height: 20rem;
    background-color: var(--dark-articles);
    opacity: 2rem;
    border-radius: 3rem;
    display: flex;
    margin-top: 2rem;
    align-items: center;    
}

.mainHead{
    font-size: 3rem;
    font-weight: 500;
}

.mainDate{
    font-size: 1.3rem;
    font-weight: 400;
    color: var(--text-grey2);
    padding-bottom: 1rem;
}

.newsImg{
    width: 25rem;
    height: 17rem;
    background-color: var(--grey-hr);
    border-radius: 2rem;
    margin-left: 1.5rem;
    object-fit: cover;
    object-position: center;
}

.newsText{
    width: 100%;
    height: 15rem;
    margin: 3rem;
    margin-left: 2.5rem;
    font-size: 1.3rem;
    font-weight: 400;
    position: relative;
}

.newsHead{
    color: var(--text-white);
    font-size: 2.2rem;
    margin-bottom: 0.1rem;
}

.newsDate{
    color: var(--text-grey2);
    position: absolute;
    bottom: 0;
}

.newsDesc{
    font-size: 1.4rem;
    height: 3.5rem;
    overflow: hidden;
}
