.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 11rem;
    padding:  1.5rem 2rem 1rem;
    background: var(--dark-nav);
    border-bottom: 1px solid var(--grey-hr);
}

.navbar .logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-grey-logo);
}

.filterList{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.filterList hr,
.filterList li{
    margin: 0 2.5rem;
    color: var(--text-grey);
}

.upperNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbox{
    display: inline-flex;
}

.input{
    width: 22rem; 
    padding: 1rem 2rem;
    outline: none;
    overflow: hidden;
    border: 1px solid var(--grey-hr);
    border-radius: 3rem;
    color: var(--text-grey);
    background-color: var(--grey-search);
}