.navbar{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 11rem;
    padding:  1.5rem 2rem 1rem;
    background: var(--dark-nav);
    border-bottom: 1px solid var(--grey-hr);
}

.navbar .logo{
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--text-grey-logo);
}

.filterList{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    font-size: 1.4rem;
    font-weight: bold;
}

.filterList hr,
.filterList li{
    margin: 0 2.5rem;
    color: var(--text-grey);
}

.upperNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbox{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
}

.input{
    width: 22rem; 
    padding: 1rem 2rem;
    outline: none;
    overflow: hidden;
    border: 1px solid var(--grey-hr);
    border-radius: 3rem;
    color: var(--text-grey);
    background-color: var(--grey-search);
}

.filterList li::selection{
    color: var(rgb(0, 179, 255));
}

/* ---------------------------- MEDIA QUERIES ---------------------------- */

@media (max-width: 850px) {
    .navbar{
        display: block;
        width: 100%;
        height: auto;
    }

    .upperNav{
        display: block;
        margin: .5rem auto;
    }

    .searchbox{
        display: block;
        margin: 2rem auto;
    }

    .input{
        width: 100%;
    }

    .filterList{
        margin: 2rem 0 0 0;
        justify-content: flex-start;
        overflow: hidden;
        overflow-x: scroll;
    }

    .filterList hr{
        display: none;
    }

    .filterList li{
        padding: 1rem;
    }
}